#visual {
    width     : 100%;
    height    : 768px;
    background: linear-gradient(225deg, #4A90E2, #B400FF);
    position  : relative;
    top       : 0;
    transition: 0.5s;

    .visual_inner {

        width : 100%;
        height: 100%;

        li {
            width : 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;

            &.active{
                opacity: 1;
            }

        }
    }

    .visual_text {
        position  : absolute;
        top       : 50%;
        left      : 15%;
        transform : translateY(-50%);
        transition: 0.5s;

        h5 {
            text-transform: uppercase;
        }

        h1,
        h5,
        p {
            color: var(--white-color);
        }

        .text_mid,
        .text_btm {
            padding-top: 2rem;
        }

        .text_btm {
            width      : 50%;
            font-size  : var(--font-medium);
            line-height: var(--line-height);


        }

    }

    .visual_btn {
        padding-top   : 2rem;
        display       : flex;
        flex-direction: row;

        button {
            width           : 170px;
            border-radius   : 30px;
            line-height     : 48px;
            font-size       : var(--font-medium);
            font-weight     : var(--font-bold);
            color           : var(--white-color);
            background-color: transparent;
        }

        .btn01 {
            background-color: var(--yellow-color);
            margin-right    : 1rem;

        }

        .btn02 {
            border: 1px solid var(--white-color);
        }
    }

    .visual_arrow {
        position: absolute;
        bottom  : 0;
        left    : 15%;

        button {
            width      : 52px;
            line-height: 42px;


            &.left {
                background-color: var(--white-color);
                color           : var(--purple-color);
            }

            &.right {
                background-color: var(--purple-color);
                color           : var(--white-color);
            }
        }

    }
}

//cellphone
@media screen and (max-width:$cellphone) {
    #visual {
        width     : 100%;
        height    : 848px;
        top       : -80px;
        z-index   : -1;
        background: linear-gradient(-161deg, #4A90E2, #B400FF);

        .visual_inner {
            left   : 0;
            padding: 0 var(--padding);

            .visual_text {
                .text_btm {
                    width: 100%;
                }
            }

            .visual_btn {
                flex-direction: column;

                .btn02 {
                    margin-top: 1rem;
                }
            }
        }

        .visual_arrow {
            left   : 0;
            padding: 0 var(--padding);

        }
    }
}