#header {
    width : 1440px;
    height: 80px;
    margin: 0px auto;

    .inner {
        position       : relative;
        width          : 100%;
        height         : 100%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        z-index        : 1;

        a {
            display: block;
        }

        .header_logo {
            h1 {
                color         : var(--black-color);
                text-transform: uppercase;
                font-weight   : var(--font-bold);
            }
        }


        .header_gnb {

            ul {
                display: flex;

                li {
                    width      : 100px;
                    height     : 80px;
                    line-height: 80px;

                    a {
                        width      : 100%;
                        height     : 100%;
                        font-size  : var(--font-medium);
                        font-weight: var(--font-normal);
                        text-align : center;
                        transition : 0.5s;

                    }

                    &:hover {
                        background-color: var(--grey-dark-color);

                        a {
                            color: var(--white-color);
                        }
                    }
                }
            }
        }

        .header_icon {
            display: flex;

            a {
                font-size  : var(--font-normal);
                font-weight: var(--font-normal);
                padding    : var(--padding);

            }
        }
    }

    .overlay {
        position        : fixed;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;
        width           : 100%;
        height          : 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index         : 9;

        button {
            background-color: transparent;
            margin: 0.5rem;

            i {
                font-size  : var(--font-large);
                font-weight: var(--font-bold);
                color      : var(--white-color);

                &.fa-times{
                    font-size: 38px;
                }
            }

            &:hover {
                i {
                    color: var(--purple-color);
                }
            }
        }

        .inner {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30%;
            height: auto;
            position: absolute;

            input {
                height             : 20%;
                background-color   : unset;
                position           : relative;
                font-size          : var(--font-large);
                font-weight        : var(--font-bold);
                color              : var(--white-color);
                border-bottom: 2px solid var(--white-color);


                &::before {
                    content         : "";
                    position        : absolute;
                    width           : 100%;
                    height          : 2px;
                    background-color: var(--white-color);
                }

                &::placeholder {
                    font-size  : var(--font-large);
                    font-weight: var(--font-bold);
                    color      : var(--white-color);
                }

                &:focus {
                    border-bottom: 2px solid var(--purple-color);
                }
            }

           
        }

        &.gnb{
            background-color: var(--black-color);
            
            button{
                position: absolute;
                right: 0;
               }
            #gnb{
                padding: 1rem 0;
                li{
                    width: 100%;
                    height: 80px;
                    line-height: 80px;
                    text-align: center;

                    a{
                        display: block;
                        font-size: var(--font-large);
                        color: var(--white-color);

                        &:hover{
                        color: var(--purple-color);

                        }
                    }
                }
            }
        }
    }
}

//tablet
@media screen and (max-width:$tablet) {}

//cellphone
@media screen and (max-width:$cellphone) {
    #header {
        width: 100%;

        .inner {
            padding-left   : var(--padding);
            justify-content: space-between;

            .header_logo {
                h1 {
                    color: var(--white-color);
                }
            }

            .header_gnb {
                display: none;
            }

            .header_icon {
                a {
                    color: var(--white-color);

                }
            }
        }

        .overlay {
            position        : absolute;
            top             : 0;
            bottom          : 0;
            left            : 0;
            right           : 0;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            z-index         : 9;
            
    
            .inner {
                top      : 50%;
                left     : 50%;
                transform: translate(-50%, -50%);
                width    : 90%;
                height   : 50%;
    
                input {
                    height             : 20%;
                    background-color   : unset;
                    position           : relative;
                    font-size          : var(--font-large);
                    font-weight        : var(--font-bold);
                    color              : var(--white-color);
                    border-bottom-style: 2px solid var(--white-color);
    
                    &::before {
                        content         : "";
                        position        : absolute;
                        width           : 100%;
                        height          : 2px;
                        background-color: var(--white-color);
                    }
    
                    &::placeholder {
                        font-size  : var(--font-large);
                        font-weight: var(--font-bold);
                        color      : var(--white-color);
                    }
    
                    &:focus {
                        border-bottom: 2px solid var(--white-color);
                    }
                }
            }

            &.gnb{
                background-color: var(--black-color);
                
                button{
                    position: absolute;
                    right: 0;
                   }
                #gnb{

                    li{
                        width: 100%;
                        height: 80px;
                        line-height: 80px;
                        text-align: center;

                    

                        a{
                            display: block;
                            color: var(--white-color);
                        }
                    }
                }
            }
        }



    }
}