#header {
    width : 1440px;
    height: 80px;
    margin: 0px auto;

    .inner {
        position       : relative;
        width          : 100%;
        height         : 100%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        z-index: 1;

        a {
            display: block;
        }

        .header_logo {
            h1 {
                color         : var(--black-color);
                text-transform: uppercase;
                font-weight   : var(--font-bold);
            }
        }


        .header_gnb {

            ul {
                display: flex;

                li {
                    width      : 100px;
                    height     : 80px;
                    line-height: 80px;

                    a {
                        width      : 100%;
                        height     : 100%;
                        font-size  : var(--font-medium);
                        font-weight: var(--font-normal);
                        text-align : center;
                        transition : 0.5s;

                    }

                    &:hover {
                        background-color: var(--grey-dark-color);

                        a {
                            color: var(--white-color);
                        }
                    }
                }
            }
        }

        .header_icon {
            display: flex;

            a {
                font-size  : var(--font-normal);
                font-weight: var(--font-normal);
                padding    : var(--padding);

            }
        }
    }
}

//tablet
@media screen and (max-width:$tablet) {}

//cellphone
@media screen and (max-width:$cellphone) {
    #header {
        width: 100%;

        .inner {
            padding-left   : var(--padding);
            justify-content: space-between;

            .header_logo{
                h1{
                    color: var(--white-color);
                }
            }
            .header_gnb {
                display: none;
            }
            .header_icon{
                a{
                    color: var(--white-color);

                }
            }
        }


       
    }
}